@model Taskmanagement.Models.UserInfo
   

    <div>
        <h2 style="text-align:center">Create Your Account</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <table align="center">
                <tr>
                    <td>Role :</td>
                    <td>@Html.DropDownListFor(e=>e.role,new List<SelectListItem>() { new SelectListItem() { Text="Admin", Value="Admin"}, new SelectListItem() { Text = "User", Value = "User" } }, "Select Role", new { @class = "btn btn-outline-success" })</td>
     
                </tr>
                <tr>
                    <td>Username : </td>
                    <td>@Html.TextBoxFor(e => e.username, new { @class = "btn btn-outline-success" })</td>
                    <td>@Html.ValidationMessageFor(e => e.username, "", new { @class = "error errorMsg" })</td>
                </tr>
                <tr>
                    <td>Password : </td>
                    <td>@Html.PasswordFor(e => e.password, new { @class = "btn btn-outline-success" })</td>
                    <td>@Html.ValidationMessageFor(e => e.password, "", new { @class = "error" })</td>
                </tr>
                <tr>
                    <td>
                        <br />
                        <input type="submit" class="btn btn-primary" value="Signup" />
                    </td>
                </tr>
            </table>
         }
    </div>
    <div style="text-align:center">
        @Html.ActionLink("Click to Login", "Login")
    </div>

